*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #222831;
    color: #EEEEEE;
}
.container{
    margin: 0 auto;
    padding-top: 20px;
}
button{
    color: #EEEEEE;
}
.bg-static{
    background-color: #31363F;
    position: absolute;
    left: -46px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
}

@-webkit-keyframes MOVE-BG {
	from {
		-webkit-transform: translateX(0);
	}
	to { 
		-webkit-transform: translateX(46px);
	}
}

@keyframes MOVE-BG {
	from {
		transform: translateX(0);
	}
	to { 
		transform: translateX(46px);
	}
}

.not-hover, .loading {
    border-radius: 15px;
	height: auto;
    text-align: center;
    color: #fff;	
    position: relative;
    overflow: hidden;
	padding: 1rem;
}
.loading:hover{
    box-shadow: 0px 0px 13px 2px #31363F;
}
.line{
    position: absolute;
    width: 99%;
    border-radius: 11px;
    height: 2rem;
    background-color: #31363F;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    z-index: -1;
}
.bg{
    position: absolute;
    left: -46px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -2;
	
  background: -webkit-repeating-linear-gradient(
    145deg,
    #76ABAE 1px,
    #31363F 2px,
    #31363F 11px,
    #76ABAE 12px,
    #76ABAE 20px
  );
  background: repeating-linear-gradient(
    -55deg,
    #76ABAE 1px,
    #31363F 2px,
    #31363F 11px,
    #76ABAE 12px,
    #76ABAE 20px
	);
    
    -webkit-animation-name: MOVE-BG;
	-webkit-animation-duration: .6s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	
    animation-name: MOVE-BG;
	animation-duration: .6s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
